.cargandoDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 70vh;
}
.cargando {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: var(--rtm-primary-color);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}